$background-color-base: #2B2D30;
$text-color-base: #FAF9F9;
$background-color-light: #768483;
$text-color-light: #1a1a24;
$background-color-additional: #5a7c8e;
$box-shadow-over-base: 0 0 25px 0 rgb(31, 31, 35);